<section>
  <div class="l-container l-container--small" data-s2r="group">
      <header>
        <h1 class="u-h2 u-text-grey-light-c" data-s2r-el="block-fade-up">{{ collections.authors[0].name }}</h1>
      </header>
      <div class="u-rich-text u-mt-20 md:u-mt-40" data-s2r-el="block-fade-up" data-s2r-delay="0.2">
        {{ collections.authors[0].bio | safe }}
      </div>
  </div>
</section>